.git
.github
.circleci
.vscode
node_modules
scripts

.nvmrc
.prettierignore
.travis.yml
.gitattributes
.gitignore
.editorconfig
appveyor.yml
netflify.toml
nginx.conf
dangerfile.ts
prettier.config.js
husky.config.js
lint-staged.config.js
renovate.json
